{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

        <h2>Hello! It's working 2222222222</h2>

        <p>This page was served by <i>Symfony {{ symfony_version }}</i></p>
    </div>

{% endblock %}
